# Note: Fill out this file and save it as "localsettings.py". Do not add that file to Git.

# Discord Token
token = ''  # NEVER COMMIT THIS

# BPdia Spreadsheet Stuff
SPREADSHEET_ID = ''
BOT_SPREADSHEET_ID = ''

# Item Spreadsheets
WEAP_ARM_SPREADSHEET_ID = ''
INV_SPREADSHEET_ID=''

# Bot Stuff
COMMAND_PREFIX = '<'
BOT_DESCRIPTION = 'ProphetBot - Created and maintained by Nicoalas#5232 and Alesha#0362'
